.details {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    border: 2px solid $color-teal;
    box-shadow: $shadow-medium;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1rem 8rem auto;
    border-radius: 10px;

    overflow: scroll;

    @include respond(tab-port) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    &__heading {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: center;

        text-align: center;
        color: $color-grey-dark;
    }

    &__line {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        border-bottom: .5px solid $color-grey-mild;
    }

    &__impressions-heading {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: center;

        text-align: center;

        @include respond(tab-port) {
            width: 80%;
            font-size: 1.6rem;
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__impressions {
        grid-column: 1 / 2;
        grid-row: 4 / 5;


        list-style-type: none;
        color: $color-green;
        font-weight: bold;
        text-align: center;
    }

    &__item {
        margin: 1rem 0;
    }

    &__total-headings {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;

        text-align: center;

        @include respond(tab-port) {
            width: 80%;
            font-size: 1.6rem;
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__total {
        grid-column: 2 / 3;
        grid-row: 4 / 5;

        margin: 0 auto;
        // width: 5rem;
        // height: 5rem;
        // border-radius: 50%;
        // background: $color-teal;
        // box-shadow: $shadow-dark;

        text-align: center;
        font-weight: bold;
        color: $color-teal;
        font-size: 3.2rem;
        padding-top: .4rem;
    }

    &__unselected {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;

        margin-bottom: 2rem;
        
        color: $color-grey-dark;
    }
}